<template name="top_header">
    <div class="col-sm-4">
        <div class="header-left">
            <p class="nb-connect">Connected Players: <br>{{ nbConnected }} </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="header-right-left">
            <p class="today-signup">Total Events: <br>{{ nbSignup }}</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="header-right-right">
            <p class="referral-click">Today Referral Click: <br>{{ nbAffiliation }}</p>
        </div>
    </div>
</template>


<template name="trade_events">
    {{#each getElems }}
        {{> parse_events }}
    {{/each }}
</template>

<template name="parse_events">
    <div class='{{mclass}}'>
        <p>{{ name }} {{ resultstr }} {{ money }}{{ curr }} {{ final }}</p>
    </div>
</template>

<template name="opt_button">
    <div class="col-sm-8 arButton">
        <button class="m2">-10m</button>
        <button class="m1">-2m</button>
        <button class="m10">-10s</button>
        <button class="timeButton">{{ GETnbCandleMax }}</button>
        <button class="p10">+10s</button>
        <button class="p1">+2m</button>
        <button class="p2">+10m</button>
    </div>
</template>